<div class="sidebar">
    <div class="container sidebar-sticky">
        <a href="/">
            <img class="perfil-picture" src="http://maikotrindade.com/public/img/maikotrindade.jpg" height="150"
                width="150" alt="Maiko Trindade" />
            <div class="sidebar-about">
                <h2>{{ site.title }}</h2>
            </div>
        </a>

        <p>Android Developer</p>
        
        <ul class="sidebar-nav">
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
            {% if node.title != null %}
            {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>

        <p>by @maikotrindade &copy; {{ site.time | date: '%Y' }}</p>
    </div>
</div>