---
layout: default
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        <div class="post-meta">
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date_to_string }}
            </time>
        </div>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
    {% if page.categories or page.tags %}
    <div class="post-taxonomy">
        {% if page.categories %}
        <div class="post-categories" itemprop="articleSection">
            <span class="taxonomy-label">Categories</span>
            {% for cat in page.categories %}<span class="post-category">{{ cat }}</span>{% endfor %}
        </div>
        {% endif %}
        {% if page.tags %}
        <div class="post-tags" itemprop="keywords">
            <span class="taxonomy-label">Tags</span>
            {% for tag in page.tags %}<span class="post-tag">{{ tag }}</span>{% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    <footer class="post-footer">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            By <span itemprop="name">{{ site.author.name }}</span>
        </span>
    </footer>
</article>

<div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {% for post in site.related_posts limit:4 %}
        <li>
            <h4>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
                </a>
            </h4>
        </li>
        {% endfor %}
    </ul>
</div>